<div class="container-search">
  <%= form_tag search_path, method: :get do %>
      <input class="search-bar w-input" type="search" name="query" placeholder="Pesquise qualquer café" id="search_query"/>
  <% end %>
</div>
