<div class="banner mt-0">
  <div class="container mt-0">
  <% if user_signed_in?  %>
    <h2>Olá, <%= @user&.first_name %></h2>
  <% end  %>
  <br>
    <h5>Sugestão do dia:</h5>
    <h3><%= link_to 'Cafés do Norte Pioneiro do Paraná', category_path('norte pioneiro do paraná') %></h3>
  </div>
</div>
