<%= render 'banner' %>

<div class="container-home mt-2">
  <h4><strong>Pesquise por categoria</strong></h4>
</div>

<div class= "container-cards-main my-0">
  <% %w[taste sensory roast].each do |category| %>
    <%= link_to filter_path(category) do %>
      <div class="card-category-main">
        <%= image_tag("#{category}.png", style:"width: 70px; margin-top: 20px;") %>
        <p><%= category %></p>
      </div>
    <% end %>
  <% end %>
</div>