.btn-ghost {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: #d29233;
  box-shadow: 5px 5px 10px #d292338f;
  text-decoration: none;
  }

  .btn-ghost-ocr {
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    transition: opacity 0.3s ease;
    background-color: #d29233;
    box-shadow: 5px 5px 10px #d292338f;
    text-decoration: none;
}

.btn-ghost-follow {
  color: white;
  padding: 1px 7px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: #d29233;
  box-shadow: 5px 5px 10px #24221f8f;
  text-decoration: none;
}

.btn-ghost-map {
  color: white;
  padding: 1px 7px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: #d29233;
  box-shadow: 5px 5px 10px #d292338f;
  text-decoration: none;
}
