.card-review {
  background: #ebe9e96e;
  padding: 30px 20px 20px 20px;
  margin-top: 20px;
}

.card-review a {
  color: black!important;
  font-weight: bold;
  font-size: 15px;
}

.card-top {
  display: flex;
  align-items: center;
}



.row a {
  margin-left: 20px;
}
