.container h1 {
  margin-top: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.head-coffees {
  background-color: #5D4337;
  height: 10vh;
}

.head-coffees h4 {
  color: white;
  padding: 20px 20px 0px 20px;
}

.head-map {
  background-color: #5D4337;
  height: 15vh;
}

.head-map h4 {
  color: white;
  padding: 20px 20px 0px 20px;
}

.head-ocr {
  background-color: #5D4337;
  height: 10vh;
}

.head-ocr h4 {
  color: white;
  padding: 20px 20px 0px 20px;
}

.head-reviews {
  background-color: #5D4337;
  height: 10vh;
}

.head-reviews h4 {
  color: white;
  padding: 20px 20px 0px 20px;
}

.head-favorites {
  background-color: #5D4337;
  height: 10vh;
}

.head-favorites h4 {
  color: white;
  padding: 20px 20px 0px 20px;
}

.head-category {
  background-color: #5D4337;
  height: 10vh;
}

.head-category h4 {
  color: white;
  padding: 20px 20px 0px 20px;
}
