.navbar-lewagon {
  justify-content: space-between;
  background:#5D4337;  //#d59638
  // #dd9e3e segunda cor
  color: #b3916c;
  border-radius: 10px 10px 0px 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
}

.navbar {
  height: 60px;
  width: 100%;
}

.navbar li {
  list-style-type: none;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
