.top-images {
  position: relative;
}

.bottom-image {
  position: absolute;
  top: 180px;
  display: flex;
}

.desc {
  margin-top: 150px;
}

.rating {
  margin-top: 80px;
  margin-left: 50px;
}

ul  {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

.social-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    webkit-box-pack: center;
    webkit-justify-content: center;
    ms-flex-pack: center;
    justify-content: center;
    webkit-box-align: center;
    webkit-align-items: center;
    ms-flex-align: center;
    align-items: center;
}

.social-circle-link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    margin: 4px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e1e6ee;
    border-radius: 50%;
    -webkit-transition: border-color 200ms ease;
    transition: border-color 200ms ease;
}
