#profile {
  background-color: white;
  border-radius: 40px;
  width: 100vw;
}

.list-group-item a {
  color: black!important;
}

.borderless {
  border: none;
  background-color: #ebe9e9a6;
}

.container-profile {
  top: 100px;
  position: absolute;
  margin-bottom: 100px;
}